*.docx
*.pdf
HW/*
Burr Model/*
results/*
temp/*
*.pptx
helper_display copy 2.py
helper_display copy.py
helper_robot_arms.py
main_trimesh_shorter copy.py
temp.py
visualize_final.py
/__pycache__/
Mujoco/__pycache__
Mujoco/cache/
Mujoco/results/